@tailwind base;

h1 {
  @apply text-[32px] font-bold text-white;
}

h3 {
  @apply text-sm font-bold;
}

@tailwind components;
@tailwind utilities;

:root {
  --green: #1ed760;
  --white: #ffffff;
  --black: #121212;
}

body {
  background: var(--black);
  box-sizing: border-box;
}
